<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/main.css" />
<link rel="stylesheet" href="../css/catalog-designer.css" />
<script type="text/javascript" src="../lib/jQuery/jquery-1.9.1.min.js"></script>
<style>
	
	.flag-chart {
		background-image: url(../img/backgrounds/flag_chart_full_scale_lines.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		color: #444444;
		font-family: 'Roboto Condensed', 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', Times, Palatino, serif;
		font-weight: 700;
		height: 540px;
		margin: 0 auto;
		position: relative;
		width: 860px;
	}

	.flag-chart .feather-dancer-17 {
		left: 100px;	
		top: 10px;
		position: absolute;
		width: 350px;	
	}
	
	.flag-chart .feather-dancer-17 h2 {
		font-size: 28px;
		margin-bottom: 31px;
	}
	
	.flag-chart .feather-dancer-13 {
		left: 254px;	
		top: 130px;
		position: absolute;
		width: 350px;	
	}
	
	.flag-chart .feather-dancer-13  h2 {
		font-size: 15px;
		margin-bottom: 24px;
	}
	
	.flag-chart .kahuna-17 {
		left: 410px;	
		top: 10px;
		position: absolute;
		width: 350px;	
	}
	
	.flag-chart .kahuna-17 h2 {
		font-size: 28px;
		margin-bottom: 37px;
	}
	
	.flag-chart .kahuna-13 {
		left: 530px;	
		top: 130px;
		position: absolute;
		width: 350px;	
	}
	
	.flag-chart .kahuna-13 h2 {
		font-size: 15px;
		margin-bottom: 29px;
	}
	
	.flag-chart .horizontal {
		left: 690px;	
		top: 277px;
		position: absolute;
		width: 350px;	
	}
	
	.flag-chart .horizontal h2 {
		font-size: 15px;
		margin-bottom: 30px;
	}
	
</style>
<div class="flag-chart">
	<div class="feather-dancer-17">
		<h2><a href="http://designer.realtimedesigner.com/qualitysigndesigner/QualitySignDesigner/catalog/index.php&p=cGM9MTE4Nzk=">17' FEATHER DANCER</a></h2>
		<a href="http://designer.realtimedesigner.com/qualitysigndesigner/QualitySignDesigner/catalog/index.php&p=cGM9MTE4Nzk="><img src="http://www.qualitysigndesigner.com/assets/img/buttons/17_feather_dancer.png" alt="17_feather_dancer" width="106" height="433" /></a>
	</div>
	<div class="feather-dancer-13">
		<h2><a href="http://designer.realtimedesigner.com/qualitysigndesigner/QualitySignDesigner/catalog/index.php&p=cGM9MTE4ODE=">13' FEATHER DANCER</a></h2>
		<a href="http://designer.realtimedesigner.com/qualitysigndesigner/QualitySignDesigner/catalog/index.php&p=cGM9MTE4ODE="><img src="http://www.qualitysigndesigner.com/assets/img/buttons/13_feather_dancer.png" alt="13_feather_dancer" width="107" height="333" /></a>
	</div>
	<div class="kahuna-17">
		<h2><a href="http://designer.realtimedesigner.com/qualitysigndesigner/QualitySignDesigner/catalog/index.php&p=cGM9MTE4ODI=">17' KAHUNA</a></h2>
		<a href="http://designer.realtimedesigner.com/qualitysigndesigner/QualitySignDesigner/catalog/index.php&p=cGM9MTE4ODI="><img src="http://www.qualitysigndesigner.com/assets/img/buttons/17_kahuna.png" alt="17_kahuna" width="63" height="427" /></a>
	</div>
	<div class="kahuna-13">
		<h2><a href="http://designer.realtimedesigner.com/qualitysigndesigner/QualitySignDesigner/catalog/index.php&p=cGM9MTE4OTI=">13' KAHUNA</a></h2>
		<a href="http://designer.realtimedesigner.com/qualitysigndesigner/QualitySignDesigner/catalog/index.php&p=cGM9MTE4OTI="><img src="http://www.qualitysigndesigner.com/assets/img/buttons/13_kahuna.png" alt="13_kahuna" width="63" height="328" /></a>
	</div>
	<div class="horizontal">
		<h2><a href="http://designer.realtimedesigner.com/qualitysigndesigner/QualitySignDesigner/catalog/index.php&p=cGM9MTE4MzY=">HORIZONTAL FLAG</a></h2>
		<a href="http://designer.realtimedesigner.com/qualitysigndesigner/QualitySignDesigner/catalog/index.php&p=cGM9MTE4MzY="><img src="http://www.qualitysigndesigner.com/assets/img/buttons/horizontal_flag.png" alt="horizontal_flag" width="129" height="76" /></a>
	</div>
	<h2 class="flag-chart-h2">Select A Product</h2>
</div><!--END class="flag-chart"-->


<script>
	$(".flag-chart .feather-dancer-17 img").on("mouseenter", function () {
	   $(".flag-chart .feather-dancer-17 img").attr( "src", "http://www.qualitysigndesigner.com/assets/img/buttons/17_feather_dancer_hover.png" );
	});
	$(".flag-chart .feather-dancer-17 img").on("mouseleave", function () {
	   $(".flag-chart .feather-dancer-17 img").attr( "src", "http://www.qualitysigndesigner.com/assets/img/buttons/17_feather_dancer.png" );
	});
	
	$(".flag-chart .feather-dancer-13 img").on("mouseenter", function () {
	   $(".flag-chart .feather-dancer-13 img").attr( "src", "http://www.qualitysigndesigner.com/assets/img/buttons/13_feather_dancer_hover.png" );
	});
	$(".flag-chart .feather-dancer-13 img").on("mouseleave", function () {
	   $(".flag-chart .feather-dancer-13 img").attr( "src", "http://www.qualitysigndesigner.com/assets/img/buttons/13_feather_dancer.png" );
	});
	
	$(".flag-chart .kahuna-17 img").on("mouseenter", function () {
	   $(".flag-chart .kahuna-17 img").attr( "src", "http://www.qualitysigndesigner.com/assets/img/buttons/17_kahuna_hover.png" );
	});
	$(".flag-chart .kahuna-17 img").on("mouseleave", function () {
	   $(".flag-chart .kahuna-17 img").attr( "src", "http://www.qualitysigndesigner.com/assets/img/buttons/17_kahuna.png" );
	});
	
	$(".flag-chart .kahuna-13 img").on("mouseenter", function () {
	   $(".flag-chart .kahuna-13 img").attr( "src", "http://www.qualitysigndesigner.com/assets/img/buttons/13_kahuna_hover.png" );
	});
	$(".flag-chart .kahuna-13 img").on("mouseleave", function () {
	   $(".flag-chart .kahuna-13 img").attr( "src", "http://www.qualitysigndesigner.com/assets/img/buttons/13_kahuna.png" );
	});
	
	$(".flag-chart .horizontal img").on("mouseenter", function () {
	   $(".flag-chart .horizontal img").attr( "src", "http://www.qualitysigndesigner.com/assets/img/buttons/horizontal_flag_hover.png" );
	});
	$(".flag-chart .horizontal img").on("mouseleave", function () {
	   $(".flag-chart .horizontal img").attr( "src", "http://www.qualitysigndesigner.com/assets/img/buttons/horizontal_flag.png" );
	});
</script>





























