/*QSD - Sep 2013*/

/*--------------------------------*/
/*--->         FONTS          <---*/
/*--------------------------------*/

/*---font-family: 'ABeeZee', 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', Times, Palatino, serif;---*/

/*--------------------------------*/
/*--->         COLORS         <---*/
/*--------------------------------*/

/*
	Purple       - #7a637a;
	Light Purple - #876488;
	Light Grey   - #f2f2f2;
	Mid Grey     - #787878;
	Dark Grey    - #444444;
	Orange       - #e38a22;
	Light Orange - #e7861e;
	Dark Orange  - #ce491a;
	Brown        - #4b2805;
*/

/*--------------------------------*/
/*--->     GLOBAL STYLES      <---*/
/*--------------------------------*/

body {
	background-color: #f2f2f2;
	font-family: 'ABeeZee', 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', Times, Palatino, serif;
	font-size: 13px;
}
a { text-decoration: none; color: #444444; }
a:hover { text-decoration: none; color: #e38a22; } 
b { font-weight: bold; } 
i { font-style: italic; }
h1 { color: #e38a22; font-size: 60px; }
h2 { color: #e38a22; font-size: 37px; }
h3 { color: #e38a22; font-size: 22.5px; }
.clear { clear: both; visibility: hidden; }
.content-container {
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	width: 1004px; /*-->Total width including padding is 1024<--*/
}
.purple-text { color: #7a637a; }
.hide { position: absolute !important; top: -9999px !important; left: -9999px !important; } 
.divider-lg { 
	background-image: url(../img/dividers/main_divider.png); 
	background-repeat: repeat-x;
	height: 5px; 
}
.divider-sm {
	background-image: url(../img/dividers/1px_divider.png); 
	background-repeat: repeat-x;
	height: 1px;
}
#page-container {
 	background-color: #fff;
 	border-bottom: 1px solid #7a637a;
 	border-left: 1px solid #7a637a;
 	border-right: 1px solid #7a637a;
	margin: 30px auto;
	width: 1100px;
	box-shadow: 0px 0px 10px #7a637a;
	position: relative;
}

/*--------------------------------*/
/*--->   PAGE HEADER STYLES   <---*/
/*--------------------------------*/

#page-header {
	/*
border-top-right-radius: 10px;
	border-top-left-radius: 10px;
*/
	height: 175px;
	width: 100%;
}
#page-header a { font-size: 13px!important; }
#page-header .utility-nav {
	background-color: #7a637a;
	border-bottom: 3px solid #fff;
	/*
border-top: 1px solid #7a637a;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
*/
	height: 47px;
	line-height: 47px;
}
#page-header .utility-nav a { color: #fff; }
#page-header .utility-nav a:hover { color: #e7861e; }
#page-header .social {
	float: left;
	height: 35px;
	width: 300px;
}
#page-header .social .share { 
	color: #fff; 
	margin-right: 5px;
	text-shadow: 1px 1px 2px #000000; 
}
#page-header .social .facebook { 
	font-size: 1px;
}
#page-header .social .pintrest { 
	 
}
#page-header .social ul, #page-header .social li { float: left; }
#page-header .social li { margin: 0 1px; }
#page-header .social img { margin: 12px 0 0 0; }
#page-header .quick-links {
	float: right;
	font-size: 12px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
	width: 600px;
}
#page-header .quick-links li { margin: 0 15px; }
#page-header .quick-links ul, #page-header .quick-links li { float: right; }
#page-header .header-body {
	height: 90px; 
	padding: 10px 0;	
}
#page-header .header-body .branding {
	float: left;
	margin-top: 3px;
	width: 250px;
}
#page-header .header-body .cta {
	float: right;
	margin-top: 5px;
	width: 550px;
}
#page-header .header-body .cta .shipping {
	float: left;
	margin-right: 45px;
	width: 275px;
}
#page-header .header-body .cta .shipping img {
	float: left;
	margin: 5px 10px 0 0;
}
#page-header .header-body .cta .shipping p {
	color: #e38a22;
	font-size: 30px!important;
	line-height: 25px;
	margin-top: 15px;
	width: 300px;
}
#page-header .header-body .cta .shipping p span {
	color: #444444;
	font-size: 20px!important;
}
#page-header .header-body .cta .contact {
	float: left;
	width: 216px;
}
#page-header .header-body .cta .contact p.phone {
	color: #e38a22;
	font-size: 30px!important;
	margin: 12px 0 6px 0;
}
#page-header .header-body .cta .contact ul, #page-header .header-body .cta .contact li { 
	float: left;
	font-size: 14px;   
}
#page-header .header-body .cta .contact li.email {
	background-image: url(../img/icons/email_icon.png);
	background-repeat: no-repeat;
	background-position: 0px 1px;
	margin-right: 15px;
	padding-left: 30px;
	height: 25px;
}
#page-header .header-body .cta .contact li.live-chat {
	background-image: url(../img/icons/live_chat_icon.png);
	background-repeat: no-repeat;
	background-position: 0px -1px;
	padding-left: 30px;
	height: 25px;
}

#page-header .main-nav { 
	background-color: #fff;
	height: 35px;
	line-height: 35px;
}

#page-header .main-nav ul, #page-header .main-nav li { float: left; } 
#page-header .main-nav li {}
#page-header .main-nav li span {
	margin: 5px;
}

/*--------------------------------*/
/*--->    PAGE BODY STYLES    <---*/
/*--------------------------------*/

#page-body { 
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9;
}
#page-body .company-spotlight {
	background-image: url(../img/backgrounds/main_bkg_with_girl_guaranteed.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 359px;
	padding-top: 25px;
}
#page-body .company-spotlight .cta {
	background-color: rgba(255,255,255,0.75);
	height: 290px;
	padding: 20px;
	width: 450px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80ffffff',GradientType=0 );
}
#page-body .company-spotlight .cta p {
	color: #787878;
	margin: 20px 0;
	font-size: 15px;
	line-height: 28px;
}
#page-body .company-spotlight .cta ul, #page-body .company-spotlight .cta li { float: left; }
#page-body .company-spotlight .cta li.start-designing-now { margin-right: 4px; }

#page-body .design-your-own { margin: 65px 0 25px 0; }
#page-body .design-your-own h2 { 
	margin: 30px 0;
	text-align: center;
}
#page-body .design-your-own p {
	margin: 15px 0;
	line-height: 20px;
}
#page-body .design-your-own img.design-your-own-img {
	display: block;
	margin: 0 auto 30px auto;
	width: 877px;
}
#page-body .design-your-own ol, #page-body .design-your-own li { float: left; text-align: center; }
#page-body .design-your-own ol { position: relative; margin-bottom: 150px; }
#page-body .design-your-own li { position: absolute; width: 275px; }
#page-body .design-your-own li.choose-a-product { margin: 0 30px 0 0; left: -25px; }
#page-body .design-your-own li.start-designing { margin: 0 30px 0 0; left: 365px; }
#page-body .design-your-own li.add-to-cart { margin: 0 30px 0 0; left: 755px; }
#page-body .featured-catalog { margin: 30px 0 65px 0; }
#page-body .featured-catalog .content-container {
	margin: 0 auto;
	width: 1025px;
}
#page-body .featured-catalog .flexslider h3, #page-body .featured-catalog .flexslider p { 
	/*

	margin: 15px 0; 
	text-align: center;
	
*/ 
}
#page-body .featured-catalog .flexslider p a { 
	/*

	font-size: 16px;
	
*/ 
}
.flexslider {
	padding: 30px 0 60px 0;
}
.flexslider h3 {
	margin-left: 30px;
	margin-bottom: 30px;
}
#page-body .featured-catalog .flexslider .slider-row {
	float: left;
	margin: 0 2px;
	text-align: center;
	width: 250px;
}
#page-body .welcome {
	padding: 45px 45px 80px 45px;
}
#page-body .welcome h2 { 
	font-size: 35px;
	margin-bottom: 5px;
	margin-bottom: 10px; 
}
#page-body .welcome p {
	font-size: 13px;
	line-height: 35px;
}
#page-body .welcome img {
	display: block;
	float: left;
	margin-right: 45px;
	width: 325px;
}
#page-body .welcome .copy {
	float: left;
	width: 630px;
}

/*--------------------------------*/
/*--->   PAGE FOOTER STYLES   <---*/
/*--------------------------------*/

#page-footer {
	background-color: #fff;
	background-image: url(../img/backgrounds/footer_bkg.jpg);
	color: #787878;
	margin-top: 2px;
}
#page-footer a { color: #787878; }
#page-footer a:hover { color: #e38a22; }
#page-footer .content-container {
	/* height: 410px; */
}
#page-footer .legal {
	height: 60px;
	line-height: 60px;
}
#page-footer .legal ul, #page-footer .legal li  {
	float: left;
}
#page-footer .legal li span  { margin: 0 15px; }
#page-footer .legal li.all-rights-reserved { 
	overflow: hidden;
	margin: 0 280px 0 0; 
}
#page-footer nav.footer-links {
	height: 260px;
	float: left;
	padding: 20px 0 30px 0;
	width: 600px;
}
#page-footer nav.footer-links ul {
	float: left;
	margin: 0 12.5px;
	width: 170px;
}
#page-footer nav.footer-links li {
	background-image: url(../img/icons/right_bullet_icon.png);
	background-repeat: no-repeat;
	background-position: 0px 1px;
	color: #787878;
	font-size: 12px;
	margin-bottom: 5px;
	padding-left: 15px;
}
#page-footer nav.footer-links li.no-format {
	background-image: none;
	height: 0!important;
	margin-bottom: 25px;
	padding-left: 0!important;
}
#page-footer nav.footer-links h2 {
	font-size: 16px;
	margin: 10px 0 5px 0;
	text-transform: uppercase;
}
#page-footer .marketing {
	background-image: url(../img/dividers/footer_divider.png);
	background-repeat: no-repeat;
	background-position: -1px top;
	float: left;
	width: 400px;
}





/*--------------------------------*/
/*--->      PAGE STYLES       <---*/
/*--------------------------------*/


#about, #contact, #faqs {
	color: #444444;
	font-size: 14px;
	padding: 30px 0;
	line-height: 25px;
}
#about h2, #contact h2, #faqs h2 {
	margin-bottom: 15px;
}
#faqs h3 {
	color: #7a637a;
	font-size: 22px;
}
#about ul {
	margin: 15px;
}
#about ul li, #contact ul li, #faqs ul li {
	background-image: url(../img/icons/right_bullet_icon.png);
	background-repeat: no-repeat;
	background-position: 0px 7px;
	margin-bottom: 5px;
	padding-left: 15px;
}
#faqs ul li {
	margin-bottom: 30px;
}
#about ul li ul, #contact ul li ul, #faqs ul li ul {
	margin: 15px;
}
#about ul li ul li, #contact ul li ul li, #faqs ul li ul li {
	color: #7a637a;
}

#contact p { margin-bottom: 15px; }



/*--------------------------------*/
/*--->      VIDEO STYLES      <---*/
/*--------------------------------*/

#qsd-video {
	border-right: 1px solid #7a637a;
	border-left: 1px solid #7a637a;
	border-top: 2px solid #7a637a;
	border-bottom: 2px solid #7a637a;
	display: none;
	position: absolute;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	width: 1098px;
	top: 0px;
	left: 0px;
	z-index: 100;
}
#qsd-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hide-video {
	position: absolute;
	left: 10px;
	top: 10px;
}
.hide-video img {
	height: 50px;
	width: 50px;
}



















